{
  "data_source": "copernicus-marine",
  "user": "",
  "passwd": "",
  "motu_source": "",
  "service_id": "",
  "product_id": "",
  "lon_min": 0,
  "lon_max": 0,
  "lat_min": 0,
  "lat_max": 0,
  "depth_min": 0,
  "depth_max": 0,
  "date_min": "",
  "date_max": "",
  "variables": [],
  "out_dir": "/path/to/out/dir"
}
